:root{
    --color-main: #24517c;
    --color-main-hide: #24517ca6;
}

body {
    font-family: 'Gelica', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f3ee;
    margin: 0;
}

#chat-container {
    width: 400px;
    max-height: 500px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#chat-window {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

#output {
    display: flex;
    flex-direction: column;
}

#title {
    text-align: center;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #80808026;
}

.message {
    margin: 10px 0;
}

.user-message {
    align-self: flex-end;
    background-color: var(--color-main);
    color: white;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
}

.bot-message {
    align-self: flex-start;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    max-width: 80%;
}

#input-container {
    display: flex;
    border-top: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f3ee;
}

#user-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
}

#send-button {
    background-color:var(--color-main);
    color: white;
    border: none;
    font-family: 'Gelica', sans-serif;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease-in-out 0.2;
}

#send-button:hover {
    background-color: var(--color-main-hide);
}

.button-person {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin: 0;
    padding-bottom: 7px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-family: 'Gelica', sans-serif;
}

#choix-personne {
    margin: 0 15px;
    display: flex;
    flex-wrap: nowrap;
}

#active{
    font-size: 20px;
    font-weight: bolder;
}

.container-bot-message {
    display: flex;
    align-items: flex-end;
}

.container-user-message {
    display: flex;
    justify-content: flex-end;
}

img{
    position: relative;
    margin-bottom: 20px;
    left: -8px;
}